body {
    background-color: rgb(193, 190, 190);
}

h1 {
    font-family: verdana;
    margin-left: 80px;
    font-weight: bold;
    font-size: large;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: 27px;
    justify-content: flex-start;
}

.icons>div {
    background-color: white;
    width: 130px;
    height: 130px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

i {
    position: absolute;
    font-size: 30px;
}

p {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: normal;
    color: black;
    margin-top: 90px;
}