body {
    background-color: whitesmoke;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2 {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 20px;
  }
  
  .user {
    position: absolute;
    left: 180px;
    top: 165px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #username {
    width: 300px;
    height: 30px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: white;
    border-radius: 5px;
  }
  
  #password {
    width: 300px;
    height: 30px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: white;
    border-radius: 5px;
  }
  
  #checkbox {
    margin-top: 0px;
    accent-color: orange;
  }
  
  .foget-password {
    display: inline;
    margin-left: 50px;
  }
  
  .login {
    width: 315px;
    height: 40px;
    border-color: orange;
    background-color: orange;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
  }